/* Container chứa ảnh xem trước */
.avatar-preview-container {
    display: flex; 
    justify-content: center; 
    margin: 10px 0;
}

/* Định dạng ảnh đại diện hình tròn */
.avatar-preview-img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 3px solid #00adef;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}